body{
    height: 100vh;
    font-family: 'Indie Flower', cursive;
    display: flex;
    align-content: center;
    justify-content: center;
}

h2{
    font-size: 3em;
    font-weight: bold;
}

p{
    font-size: 1.8em;
    padding-top: 0.7em;
}

#post-its{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.postit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-basis: 21%;
    scale: 0.8;
    box-shadow: 0px 7px 26px 5px #000000;;
    transition: 1s;
}

#post-its .postit:hover{
    rotate: 0deg;
    transition: 1s;
    scale: 1;
    box-shadow: 7px 32px 50px 8px #000000;
    z-index: 1;
}

main.container{
    background: #3A5C4E;
    border: 15px solid #D6B185;
    width: 90%;
    height: 70%;
    display: flex;
    align-self: center;
    justify-content: center;
    box-shadow: 0px 0px 2px 6px #92785A, inset 0px 0px 15px 3px rgba(0,0,0,0.6);
}

#postit1, #postit5, #postit7{
    background: linear-gradient(0deg, rgba(186,181,131,1) 0%, rgba(238,232,170,1) 33%); 
    rotate: -5deg;
    animation: firstAnimationPostIt 3.5s linear 0s;
}

#postit2, #postit4, #postit8{
    background: linear-gradient(0deg, rgba(156,186,131,1) 0%, rgba(206,238,170,1) 33%); 
    rotate: 8deg;
    animation: secondAnimationPostIt 3.5s linear 0s;
}

#postit3, #postit6{
    background: linear-gradient(0deg, rgba(158,131,186,1) 0%, rgba(214,170,238,1) 33%); 
    rotate: -10deg;
    animation: thirdAnimationPostIt 3.5s linear 0s;
}

#postit5, #postit6, #postit7, #postit8{
    margin-top: 1.5em;
}



@keyframes firstAnimationPostIt{
    0%{
        opacity: 0;
        scale: 5;
        transform: translate(1000px, 500px);
    }

    100%{
        opacity: 1;
        transform: translate(0px, 0px) rotate(360deg);
    }
}

@keyframes secondAnimationPostIt{
    0%{
        opacity: 0;
        scale: 5;
        transform: translate(-1000px, -500px);
    }

    100%{
        opacity: 1;
        transform: translate(0px, 0px) rotate(360deg);
    }
}

@keyframes thirdAnimationPostIt{
    0%{
        opacity: 0;
        scale: 5;
        transform: translate(0px, -500px);
    }

    100%{
        opacity: 1;
        transform: translate(0px, 0px) rotate(360deg);
    }
}